

<div *ngIf = "showInscprition">

    <div [formGroup] = "form"><br>
        <div>
            <!-- DIV Nom -->
            <label> Nom  :
                <input  placeholder="Toto"  id = "firstName" name = "firstName" formControlName= "firstName"/>
            </label>
        </div><br>

        <div>
            <label> Prénom :
                <input  placeholder="Toto"  id = "lastName" name = "lastName" formControlName= "lastName"/>
            </label>
        </div><br>

        <div>
            <label> Email :
                <input  placeholder="Toto@mail.fr"  id = "mail" name = "mail" formControlName= "mail"/>
            </label>
        </div><br>

        <div>
            <label> Numero de Téléphone :
                <input  placeholder="06060606"  id = "phoneNumber" name = "phoneNumber" formControlName= "phoneNumber"/>
            </label>
        </div><br>





        <label> Nom d'utilisateur :
            <input  placeholder="Toto"  id = "username" name = "username" formControlName="username"/>
        </label><br>

        <mat-radio-group formControlName = "role" aria-label="Choisissez votre Rôle">
            <mat-radio-button  value="ROLE_CLIENT">Client</mat-radio-button>
            <mat-radio-button  value="ROLE_COOK">Traiteur</mat-radio-button>
        </mat-radio-group><br>

        <label> Mot de passe :
            <input  placeholder="Motde passe"  id = "password" name = "password" formControlName="password"/>
        </label><br>
        

    </div> 
    

    <div>
        <!-- Confirmer l'inscription-->
        <button mat-raised-button type="button" [disabled] = "form.invalid" label="Click" (click)="onSubmit()" >Confirmer l'Inscription</button>
    </div>
    

       
</div>
