

<div *ngIf = "showInscprition">

    <div [formGroup] = "form">
    <br>
        <div>
            <!-- DIV Nom -->
            <label> Nom  :
                <input  placeholder="Toto"  id = "firstName" name = "firstName" formControlName= "firstName"/>
            </label>
        </div><br>

        <div>
            <label> Prénom :
                <input  placeholder="Toto"  id = "lastName" name = "lastName" formControlName= "lastName"/>
            </label>
        </div><br>

        <div>
            <label> Email :
                <input  placeholder="Toto"  id = "mail" name = "mail" formControlName= "mail"/>
            </label>
        </div><br>





        <label> Nom d'utilisateur :
            <input  placeholder="Toto"  id = "username" name = "username" formControlName="username"/>
        </label><br>

        <label> Mot de passe :
            <input  placeholder="Motde passe"  id = "password" name = "password" formControlName="password"/>
        </label><br>
        
        <label> Confirmer votre mot de passe :
            <input  placeholder="Mot de passe"  id = "confirmPassword"  />
        </label><br>

      
    

        <div>
            <!-- Confirmer l'inscription-->
            <button mat-raised-button type="button" [disabled] = "form.invalid" label="Click" (click)="onSubmitInscription()" >Confirmer l'Inscription</button>
        </div>
    </div>  

       
</div>
