
<br>
<div  > <!-- info utilisateur-->
    <span style="align-items: center; justify-content: center; display: flex;"> Information utilisateur</span>
    
    <span style="align-items: center; justify-content: center; display: flex;"><br>Username : {{user.username}}</span><br>
    <span style="align-items: center; justify-content: center; display: flex;">Email : {{user.mail}}</span><br>
    <span style="align-items: center; justify-content: center; display: flex;">Role : {{user.userType}}</span><br>
   
 

</div>
