<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/market" routerLinkActive="active" (click)="onClickMarket()">Market</a><br><br>
      <a routerLink="etat-commande">Etat des commandes</a><br><br>
      <a routerLink="/historique-commande" routerLinkActive="active" (click)="onClickHistory()" >Historique des commandes</a><br><br>
      <a routerLink="/parametre" routerLinkActive="active" (click)="onClickParametre()">Parametre</a><br><br> 
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bienvenu ! {{userInfo.username}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
