
<br><br>



<br>
<div>
    <app-connexion [showConnexion] = "showConnexionBoolean" ></app-connexion>
</div>
<br>
<div>
    <!-- DIV Inscription Utilisateur-->
    <button mat-raised-button type="button" label="Click" (click)="onClickShowInscription()" >{{goToInscription}}</button>
    <div>
        <app-inscription [showInscprition] = "showInscriptionBoolean" ></app-inscription>
    </div>
</div>

<!--
<div>
    <app-menu-principal [showMenuPrincipal] ="showMenuPrincipalBoolean"></app-menu-principal>
</div>
-->


